.fileselector {
    margin: 10px;
}
.upload-file-selector {
    display: none;
}
.margin-correction {
    margin-right: 10px;
}


label{
    padding-top: 10px !important;
}
.active>a,.active>a>i, .sidebar .nav li.active>a i{
    color: #EFA61B!important;
}

.text-yellow{
    color: #EFA61B!important;
}
.text-yellow:hover{
    text-decoration: none!important;
}