.loader {
    display: none;
    position: relative;
    text-align: center;
    margin: 35px auto 35px auto;
    z-index: 9999;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}

.modal .modal-dialog {
    width: 60%;
}


.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 400px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-body {
    margin-top: 60px;
    border-bottom-color: #EEEEEE;
    background: #fff;
}

.modal-top {
    display: block; !important;
    position: fixed;
    background: #51cbce;
    padding-bottom: 10px;
    color: white;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

.modal-bottom {
    display: block; !important;
    position: fixed;
    background: #51cbce;
    padding: 20px;
    color: white;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    font-size: 25px;
}

.active>a,.active>a>i, .sidebar .nav li.active>a i{
    color: white!important;
}

.active {
    background-color: #1565C0;!important;
    font-weight: bold;
}

label{
    padding-top: 10px !important;
}

nav {
    position: fixed;!important;
    z-index: 2;!important;
}

.card-task {
    box-shadow: 6px 6px 6px 6px rgb(0, 0, 0, 0.25);
}

.card-date {
    padding: 0; !important;
}

#tasksDiv {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (max-width: 450px) {
    #tasksDiv {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 500px) {
    #tasksDiv {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1300px) {
    #tasksDiv {
        grid-template-columns: 1fr 1fr 1fr;!important;
    }
}

#iconCheck {
    color: grey;
}

#iconCheck:hover {
    color: #6BD098;
}

.modal-header {
background: #F7F7F7;!important;
}

.vertical-line {
    height: 100%;
    border-left: 1px solid;
    border-color: gray;
}

#headerDeal{
    z-index: 100;
}
