.loader {
    display: none;
    position: relative;
    text-align: center;
    margin: 35px auto 35px auto;
    z-index: 9999;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}

.modal .modal-dialog {
    width: 60%;
}


.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 400px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-body {
    margin-top: 60px;
    border-bottom-color: #EEEEEE;
    background: #fff;
}

.modal-top {
    display: block; !important;
    position: fixed;
    background: #004FC5;
    padding-bottom: 10px;
    color: white;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

.active>a,.active>a>i, .sidebar .nav li.active>a i{
    color: white!important;
}

.active {
    background-color: #004FC5;!important;
    font-weight: bold;
}

label{
    padding-top: 10px !important;
}

nav {
    position: fixed;!important;
    z-index: 2;!important;
}

.card-task {
    border: solid 1px rgb(0, 0, 0, 0.25);
}

.card-date {
    padding: 0; !important;
}

#iconCheck {
    color: grey;
}

#iconCheck:hover {
    color: #6BD098;
}

.modal-header {
background: #F7F7F7;!important;
}

.vertical-line {
    height: 100%;
    border-left: 1px solid;
    border-color: gray;
}

#headerDeal{
    z-index: 100;
}

.card-header {
    height: 100%;
    width: 100%;
    padding: 0;!important;
}
.bg-orange {
    background: #EEA176;
}

.bg-yellow {
    background: #E3DF7E;
}

.bg-green {
    background: #6BD098;
}

.bg-grey {
    background: #F4F3EF;
}

.deal-title {
    color: black;
}

.deal-sub {
    color: grey;
}


html, body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#imgLogin {
    margin-top: 50%;!important;
    margin-right: 50%;!important;
}

.w-100{
    width: 100%;!important;
}

.btn-primary {
    background: #004FC5;!important;
}

.btn-white {
    background: white;!important;
    border: grey solid 1px;
}

.bg-custom-1 {
    background-color: #66615B;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #66615B 0%, #000000
    100%);
}

.card-deal {
    background: #004FC5;
    z-index: 1000;
}

@media (max-width: 700px) {
    #dealInformation {
        flex-direction: column-reverse;
    }
}

.edit {
    border: solid 2px white;
    border-radius: 20px;
}