.loader {
    display: none;
    position: relative;
    text-align: center;
    margin: 35px auto 35px auto;
    z-index: 9999;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}
.active>a,.active>a>i, .sidebar .nav li.active>a i{
    color: white!important;
}

.active {
    background-color: #1565C0;!important;
    font-weight: bold;
}

label{
    padding-top: 10px !important;
}